* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

img {
    border-radius: 50%;
}

.main-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
}

.sidebar {
    background-color: #0284c7;
    color: white;
    font-weight: bold;
    padding: 15px;
}

.sidebar h2 {
    margin-bottom: 50px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 1rem;
    align-items: center;
    margin-bottom: 20px;
}

.nav-top {
    margin-bottom: 50px;
}

.main-content {
    display: grid;
    grid-template-rows: min-content 1fr;
}

.header {
    font-weight: bold;
    padding: 20px;
    position: relative;
    box-shadow: 1px 4px 5px 0px #9ca3af;
}

.header-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
}

.header-top .left {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 2rem;
    padding-left: 20px;
}

.header-top .right {
    display: grid;
    grid-template-columns: repeat(2, min-content) 1fr;
    justify-self: end;
    align-items: center;
    gap: 2rem;
    padding-right: 20px;
}

.header-top .right img {
    height: 50px;
}

input {
    padding: 10px;
    appearance: none;
    height: 30px;
    background-color: #d1d5db;
    border-radius: 25px;
    border: none;
    font-size: 18px;
}

input:focus {
    outline: none;
    border: none;
}

.header-bot {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header-bot .left {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    column-gap: 2rem;
    padding-left: 20px;
}

.header-bot .left img {
    height: 75px;
    grid-row: 1 / 3;
}

.header-bot .left p:last-child {
    grid-column: 2;
}

.header-bot ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    justify-self: end;
    place-items: center;
    gap: 2rem;
    padding-right: 20px;
}

.header-bot li {
    display: grid;
    place-items: center;
    height: 50px;
    width: 100px;
    color: white;
    background-color: #22d3ee;
    border-radius: 25px;
}

.body-content {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 2rem;
    background-color: #f4f4f5;
}

.body-main {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-row: 1 / 3;
    padding: 20px;
    gap: 10px;
}

.body-main .articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.body-main article {
    border-radius: 20px;
    height: 200px;
    background-color: white;
    border-left: 10px inset #f59e0b;
    padding: 15px;
    box-shadow: 4px 5px 5px 0px #9ca3af;
}

.body-side-top {
    display: grid;
    grid-template-rows: min-content 1fr;
    padding: 20px;
    gap: 10px;
}

.body-side-top .side-articles {
    border-radius: 20px;
    background-color: white;
    display: grid;
    gap: 2rem;
    padding: 20px;
    box-shadow: 4px 5px 5px 0px #9ca3af;
}

h4 {
    margin-bottom: 10px;
}

.body-side-bot {
    display: grid;
    grid-template-rows: min-content 1fr;
    padding: 20px;
    gap: 10px;
}

.body-side-bot .trending {
    display: grid;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    gap: 2rem;
    box-shadow: 4px 5px 5px 0px #9ca3af;
}

.trend-container {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    column-gap: 1rem;
}

.trend-container img {
    grid-row: 1 / 3;
}

.articles p,
.side-articles p {
    color: #a1a1aa;
}